* {
  font-family: "Play", sans-serif;
}

body {
  background: rgb(130, 0, 7);
  background: linear-gradient(
    90deg,
    rgba(130, 0, 7, 1) 11%,
    rgba(0, 20, 145, 1) 41%,
    rgba(0, 0, 0, 1) 100%
  );
}

#login .login-block {
  margin-top: 150px;
  margin-left: 230px;
}

#login .login-block .image-window img {
  width: 700px;
  height: 450px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#login .login-block .image-window {
  width: 700px;
  height: 450px;
  left: 350px;
  position: absolute;
  margin-left: 220px;
}

#login .login-block .form-container {
  width: 350px;
  height: 450px;
  background: white;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
}

#login .login-block .form-container h2 {
  margin-top: 65px;
  text-align: center;
  color: rgb(0, 7, 56);
}

#login .login-block .form-container form {
  margin-top: 50px;
}

#login .login-block .form-container input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: rgb(0, 7, 56);
  color: rgb(0, 7, 56);
  background: none;
  margin-bottom: 30px;
  border-width: thin;
  padding: 5px;
  font-size: 16px;
}

#login .login-block .form-container input::placeholder {
  color: rgb(185, 0, 9);
}

#login .login-block .form-container .forget {
  font-size: 14px;
  text-align: center;
  display: block;
  margin-top: 15px;
  text-decoration: underline;
  color: rgb(130, 0, 7);
}

#login .login-block .form-container hr {
  width: 100%;
  background-color: rgb(130, 0, 7);
  border-width: 3px;
}

#login .login-block .form-container a:hover {
  color: rgba(0, 20, 145, 1);
}

#login .login-block .form-container .btn-group {
  text-align: center;
}

#login .login-block .form-container .btn-group .btn {
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 10px;
  font-size: 16px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: rgb(130, 0, 7);
  border: none;
  color: white;
}

#login .login-block .form-container .btn-group button {
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 10px;
  font-size: 16px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: rgb(130, 0, 7);
  border: none;
  color: white;
}

#login .login-block .form-container .btn:hover {
  background-color: rgba(0, 20, 145, 1);
  color: white;
  box-shadow: 2px 2px 4px 4px lightgray;
}

#signup .form-container {
  background-color: white;
  width: 45%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  padding: 10px 0px 30px 0px;
}

#signup .form-container hr {
  background-color: rgb(130, 0, 7);
  margin-bottom: 30px;
  height: 2px;
}

#signup .form-container .container .row input {
  width: 80%;
  margin-bottom: 20px;
  margin-left: 70px;
  padding: 5px 0px 5px 10px;
  border-top: none;
  border-right: none;
  border-bottom-color: rgb(130, 0, 7);
  border-left-color: rgb(219, 0, 11);
  /*border-width: 1.5px;*/
  border-width: thin;
}

#signup .form-container .container .row input::placeholder {
  color: rgb(130, 0, 7);
}

#signup .form-container .container .row select {
  width: 80%;
  margin-bottom: 20px;
  margin-left: 70px;
  padding: 5px 0px 5px 10px;
  border-top: none;
  border-right: none;
  border-bottom-color: rgb(130, 0, 7);
  border-left-color: rgb(130, 0, 7);
  /*border-width: 1.5px;*/
  border-width: thin;
  color: rgb(130, 0, 7);
}

#signup .form-container .btn-group {
  text-align: center;
  margin-top: 20px;
}

#signup .form-container .btn-group .btn {
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 10px;
  font-size: 16px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: rgb(130, 0, 7);
  border: none;
  color: white;
  display: block;
}

#signup .form-container .btn-group button {
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 10px;
  font-size: 16px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: rgb(130, 0, 7);
  border: none;
  color: white;
  display: block;
}

#signup .form-container .btn:hover {
  background-color: rgba(0, 20, 145, 1);
  color: white;
  box-shadow: 2px 2px 4px 4px lightgray;
}

#signup .form-container .container .row #FN_msg
{
  display: none;
}
#signup .form-container .container .row #LN_msg
{
  display: none;
}
#signup .form-container .container .row #email_msg
{
  display: none;
}

#signup .form-container .container .row #password_msg
{
  display: none;
}
